# Start the droidfood attestation processor service.
#
# See system/core/init/README.md for information on the init.rc language.
service droidfoodattestation /system/bin/rkp_cert_processor
    class droidfoodattestation
    user system
    group system inet
    interface aidl rkp_cert_processor.service
    oneshot
    disabled
